<div class="to-do-container" id="app">
  <div class="upper">
       <div class="app-title">
            <div class="text">
               <h1>To Do List</h1>
               <p>With a State Management</p>
            </div>
            <div class="buttons">
                 <button id="btn" class="opt-btn"><span class="material-symbols-outlined icon">settings</span></button>
                 <button id="btn" class="opt-btn"><span class="material-symbols-outlined icon">delete_forever</span></button>
                 <button id="btn" class="opt-btn"><span class="material-symbols-outlined icon">check_box</span></button>
            </div>
       </div>
       <form class="form">
            <div class="form-details">
                 <input type="text" id="add-input" name="toDoInput" class="input" placeholder="Add something to do" required noSpaceValidation>
                 <button id="btn" type="submit" class="btn"><span class="material-symbols-outlined icon">add</span></button>
            </div>
       </form>
       <ul class="tab-link">
            <li id="btn">Pending</li>
            <li id="btn">Completed</li>
       </ul>
  </div>
  <div class="lower">
       <div class="contentVal">
            <ul class="toDoList activeToDo">
                 <li class="toDo">
                      <div class="content">
                           <p>Item</p>
                           <p class="created">20/02/2022</p>
                      </div>
                      <label class="container"><input type="checkbox" name="toDoCheck"><span class="checkbox" id="checkbox"></span></label>
                      <span id="icon" class="material-symbols-outlined icon">edit</span>
                 </li>
            </ul>
       </div>
       <div class="contentVal">
            <ul class="toDoList completedToDo">
                 <li class="toDo">
                      <div class="content">
                           <p>Item</p>
                           <p class="created">20/02/2022</p>
                      </div>
                      <span id="icon" class="material-symbols-outlined icon">delete</span>
                 </li>
            </ul>
       </div>
  </div>
</div>